<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @part.location %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @part.quantity %>
</p>

<p>
  <strong>Mfr number:</strong>
  <%= @part.mfr_number %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @part.barcode %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @part.machine %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
